body {background-color: darksalmon;}

h1.centrado {text-align: center;}

a.azul {color:blue}

p.bitcoin {color: blue;
position: relative;
left: 1100px}

section.blanco {background-color: white;}

p.ethereum {color: blue;
    position: relative;
    left: 850px}

p.litecoin {color: blue;
    position: relative;
    left: 200px}

footer.amarillo {background-color: yellow;
text-align: center;}

span.rojo {color:red}